@mixin navbar-style {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-inline: 20px;
}

.navbar {
  @include navbar-style;
  .material-icons {
    cursor: pointer;
  }
  .nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
    .logout-div {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }
  }
}
.dark {
  background-color: black;
  color: white;
}
.light {
  --gradDark: hsl(188, 83%, 62%);
  --gradLight: hsl(32, 100%, 73%);
  background: linear-gradient(to bottom, var(--gradDark), var(--gradLight));
  color: black;
}
