.navbar {
  width: 100vw;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-inline: 20px;
  .logout-div {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
}
